.jobHome{
    justify-content: space-between;
    display: flex;
    padding: 50px 50px 0px 50px;
    height: 80vh;
}

.leftJob,.rightJob{
    width: 50%;
}


.tabPick:hover{
    border: 1px solid #1987DE;
    border-radius: 15pc;
}

.nolanShowTask{
    margin-top: 10px;
}
.nolanShowTask:hover{
cursor: pointer;
background-color: #444654;
}
/* 
.MuiTabs-root .Mui-selected {
    color: #ff0000;
    background-color: #1987DE;  }
   */
/* Chữ mặc định của tab */
/* .tabPick {
    color: #000000; 
  }
  
  .tabPick.Mui-selected {
    color: #ff0000; 
  }
   */

   /* Hiệu ứng chuyển tiếp khi tab được chọn */
