.homee{

    margin: 20px 50px 0px 50px;
    height: 90vh;


}
.LichHome{
    width: 70vw;
    display: flex;
}
.left_homee{
    width: 70% !important;
}
.tabPick:hover{
    border: 1px solid #1987DE;
    border-radius: 15px;
}
.taskList{
    justify-content: space-around;
    display: flex;
}

[role="tabpanel"] {
    width: 100% !important;
}
.MuiBox-root{
    width: 100% !important;



}


.nolanShowTask{
    margin-top: 10px;
}
.nolanShowTask:hover{
cursor: pointer;
background-color: #444654;
}
/* 
.MuiTabs-root .Mui-selected {
    color: #ff0000;
    background-color: #1987DE;  }
   */
/* Chữ mặc định của tab */
/* .tabPick {
    color: #000000; 
  }
  
  .tabPick.Mui-selected {
    color: #ff0000; 
  }
   */

   /* Hiệu ứng chuyển tiếp khi tab được chọn */
